#secondPage{
    display: none;
}

#grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

#blogPost:hover {
    opacity: 0.5;
}

/*fonts for all*/
body,h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif
}.w3-bar-block .w3-bar-item {padding:20px}

#sidebar2 {
    display:none;
    z-index:2;
    width:40%;
    min-width:300px;
}
