<!DOCTYPE html>

<html lang="en">
    <head>
        <title>111_2 富世</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body class="w3-light-grey w3-content" style="max-width:1600px;">

        <!-- Sidebar (hidden by default) -->
        <nav id="sidebar2" class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left">
            <a href="javascript:void(0)" onclick="w3_close()"
            class="w3-bar-item w3-button">Close Menu</a>
            <a href="index.html" onclick="w3_close()" class="w3-bar-item w3-button">回首頁</a>
            <a href="#basic" onclick="w3_close()" class="w3-bar-item w3-button">營隊簡介</a>
            <a href="#blog" onclick="w3_close()" class="w3-bar-item w3-button">出隊日記</a>
        </nav>

        <!-- Top menu -->
        <div class="w3-top">
            <div class="w3-light-grey w3-xlarge" style="max-width:1200px;margin:auto">
                <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
                <div class="w3-center w3-padding-16"><b>2023花蓮縣富世國小數位人文x部落文化夏令營</b></div>
            </div>
        </div>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:50px">

            <!-- About Section -->
            <div id="basic">
                <div class="w3-container w3-padding-32 w3-center">
                    <h3><b>營隊簡介</b></h3><br>
                    <img src="111_2.jpg" alt="group photo" class="w3-image" style="display:block;margin:auto" width="800" height="533">
                </div>
                <div class="w3-center">
                    <h4><i>IC, I see!</i></h4>
                    <h6><b>花蓮縣秀林鄉富世國小</b></h6>
                    <div>希望能透過本次營隊中的課程，讓小朋友加深對部落歷史故事與文化的了解，並且轉化為實際的作品。希望藉由簡報等資訊課程，讓小朋友學習到數位科技的應用，從而激發其興趣，縮短城鄉資訊落差與發展不均的情況。期望能讓小朋友在科學教案、學術教案、體育競賽、資訊教案、團康等團隊活動中培養孩子團隊合作的精神並啟發其對各種不同領域的興趣。</div>
                </div>
            </div>

            <!-- blog-->
            <div class="w3-row-padding w3-padding-16 w3-center" id="blog">
                <h3 style="margin-top:50px;"><b>出隊日記</b></h3><br>
                <ul style="list-style-type:none;">
                    <li><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FnccuICTRIBE%2Fposts%2Fpfbid02cmQ5BC1yAwgrjRTru6Qh4wpgAAAZG3hS8VHLiFuRYDLRapCM47p95Fgp9YQgb516l&show_text=true&width=500" width="500" height="762" style="border:none;overflow:hidden" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></li>
                    <li><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FnccuICTRIBE%2Fposts%2Fpfbid0x8JG5UjwwHZKsKircuoGZwpxhoVYPW8j1A4zP5YAx2jJqonvNupXgzdzojAXy5qPl&show_text=true&width=500" width="500" height="907" style="border:none;overflow:hidden" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></li>
                    <li><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FnccuICTRIBE%2Fposts%2Fpfbid06zTfnrw48kwTpmFMjc3f48NgXa24Txowwyw1Yi3W2BWbhBqAojPs1DtMEvQeKmMFl&show_text=true&width=500" width="500" height="741" style="border:none;overflow:hidden" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></li>
                    <li><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FnccuICTRIBE%2Fposts%2Fpfbid0uyMviPgg3PyWv6WQBgnymLzoYwezU41DV23B1mNfPbpd3xMpurgmMMhxRX37MM45l&show_text=true&width=500" width="500" height="803" style="border:none;overflow:hidden" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></li>
                    <li><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FnccuICTRIBE%2Fposts%2Fpfbid0JgKwRaw4gcsfiSFGsZm3XUyJyxXh3EzaAgi4a68bYTd3gnZVWjds6uR4Z4823vTRl&show_text=true&width=500" width="500" height="762" style="border:none;overflow:hidden" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></li>
                </ul>
            </div>

            <!-- FOOTER -->
            <footer class="w3-row-padding w3-padding-32">
                <h3><b>近期其他營隊</b></h3>

                <div class="w3-row-padding" id="firstPage">
                    <div class="w3-third w3-container w3-margin-bottom">
                        <a href="112_1.html">
                            <img src="112_1.jpg" alt="112_1 南和" style="width:100%;" class="w3-hover-opacity">
                        </a>
                        <div class="w3-container w3-white">
                            <p><b>2024「南」得「和」你在一起 — Tjurukaladju部落文化冬令營</b></p>
                        </div>
                    </div>
                    <div class="w3-third w3-container w3-margin-bottom">
                        <a href="111_1.html">
                            <img src="111_1.jpg" alt="111_1 南和" style="width:100%;" class="w3-hover-opacity">
                        </a>
                        <div class="w3-container w3-white">
                            <p><b>2023屏東縣南和國小數位人文X部落文化冬令營</b></p>
                        </div>
                    </div>
                    <div class="w3-third w3-container w3-margin-bottom">
                        <a href="110_2.html">
                            <img src="110_2.png" alt="110_2 富世" style="width:100%" class="w3-hover-opacity">
                        </a>
                        <div class="w3-container w3-white">
                            <p><b>2022花蓮縣富世國小數位人文x部落文化夏令營</b></p>
                        </div>
                    </div>
                </div>
            </footer>

        <!-- End page content -->
        </div>

        <script>
            // Script to open and close sidebar
            function w3_open() {
            document.getElementById("sidebar2").style.display = "block";
            }

            function w3_close() {
            document.getElementById("sidebar2").style.display = "none";
            }

            // Slideshow (出隊日記)
            var slideIndex = 1;
            showDivs(slideIndex);

            function plusDivs(n) {
            showDivs(slideIndex += n);
            }

            function currentDiv(n) {
            showDivs(slideIndex = n);
            }

            function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demodots");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length} ;
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " w3-white";
            }

        </script>

    </body>
</html>