<!DOCTYPE html>

<html lang="en">
    <head>
        <title>112_1 南和</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body class="w3-light-grey w3-content" style="max-width:1600px;">

        <!-- Top menu -->
        <div class="w3-top">
            <div class="w3-light-grey w3-xlarge" style="max-width:1200px;margin:auto">
                <div class="w3-center w3-padding-16"><b>22024「南」得「和」你在一起 — Tjurukaladju部落文化冬令營</b></div>
            </div>
        </div>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:50px">

            <!-- About Section -->
            <div id="basic">
                <div class="w3-container w3-padding-32 w3-center">
                    <h3><b>營隊簡介</b></h3><br>
                    <img src="112_1.jpg" alt="group photo" class="w3-image" style="display:block;margin:auto" width="800" height="533">
                </div>
                <div class="w3-center">
                    <h4><i>IC, I see!</i></h4>
                    <h6><b>屏東縣來義鄉南和國小</b></h6>
                    <div>希望能透過本次營隊中的課程，讓小朋友加深對部落歷史故事與文化的了解，並且轉化為實際的作品。希望藉由簡報等資訊課程，讓小朋友學習到數位科技的應用，從而激發其興趣，縮短城鄉資訊落差與發展不均的情況。期望能讓小朋友在科學教案、學術教案、體育競賽、資訊教案、團康等團隊活動中培養孩子團隊合作的精神並啟發其對各種不同領域的興趣。</div>
                </div>
            </div>
        </div>
    </body>
</html>