<!DOCTYPE html>

<html lang="en">
    <head>
        <!--basic setups-->
        <title>政大IC部落社</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="styles.css">

    </head>
    <body class="w3-light-grey w3-content" style="max-width:1600px;">

        <!-- Sidebar/menu -->
        <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
        <div class="w3-container">
            <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
            <i class="fa fa-remove"></i>
            </a>
            <img src="IC_logo.png" alt="ic_logo" style="width:45%;" class="w3-round"><br><br>
            <h4><b>政大IC部落社</b></h4>
            <p class="w3-text-grey">NCCU IC Tribe</p>
        </div>
        <div class="w3-bar-block">
            <a href="#頁頂" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>關於我們</a>
            <a href="#歷年營隊" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>歷年營隊</a>
            <a href="#精彩回顧" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>精彩回顧</a>
        </div>
        <div class="w3-panel w3-large">
            <a href="https://www.facebook.com/nccuICTRIBE?locale=zh_TW" class="fa fa-facebook-official w3-hover-opacity"></a>
            <a href="https://www.instagram.com/nccu_ic_tribe?utm_source=ig_web_button_share_sheet&igsh=YzAwZjE1ZTI0Zg==" class="fa fa-instagram w3-hover-opacity"></a>
        </div>
        </nav>

        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer;" title="close side menu" id="myOverlay"></div>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-left:300px;">

            <!-- Header -->
            <header id="頁頂">
                <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
                <div class="w3-container">
                    <h1><b>政大IC部落社</b></h1>
                    <div class="w3-section w3-bottombar w3-padding-16"></div>
                </div>
            </header>

            <div class="w3-container w3-padding-large" style="margin-bottom:32px">
                <h4 id="關於我們"><b>關於我們</b></h4>
                <p></p>
                <div>IC 部落社創始之初會到部落或偏鄉教導小學生操作電腦等資訊設備，以減少因地理空間阻隔而產生的數位落差；此外，配合網路平台，使隊員得以在營隊結束後與孩子們保持聯絡、關心孩子們的近況，以達到永續陪伴的服務精神。社團名稱中的 IC，即為呼應數位人文團隊中「數位」之意義；每一年的寒暑假，我們將深入部落或偏鄉國小，以永續陪伴為出發點，策劃一系列的營隊活動，期能使小朋友有所收穫。</div>
                <p><q><i> IC, I see </i></q></p>
                <div>除了帶給部落的孩子們 陪伴與關心之外，更是讓大學生擁有「看見」世界的機會。因為「部落」對於大部分的大學生而言，僅只是課本上背誦的知識，我們鮮少有機會能真正的踏進部落，與部落居民一起進行深入的互動。能夠前進部落並實際與小朋友相處、在部落中生活，對大學生而言是完全不一樣的體驗。我們期望在「服務」的同時，也進行不同於以往的「學習」，走出書本，親自體驗，看見更大的世界。</div>
                <hr>
            </div>
            <h4 id="歷年營隊"><b>歷年營隊</b></h4>
            <p>十多年來，IC部落社走訪超過10個部落，有至少200位大學生參與，與偏遠的原住民部落或偏鄉小學的小朋友共組學習家庭，讓大學生和孩子透過實際的行動學會了尊重；透過網路的長期陪伴，獲得了永續的成長；近年來，我們更強調數位人文素養，以此為核心，設計了許多豐富的教案，多元文化饗宴與精采生命教育的活動，引起熱烈響應，同時，將此成功模式推廣到許多部落與偏鄉學校，讓數位「家」庭串起真愛，讓關懷持續擴大。</p>

            <!-- First Photo Grid-->
            <div class="w3-row-padding" id="firstPage">
                <div class="w3-third w3-container w3-margin-bottom">
                    <a href="112_1.html">
                        <img src="112_1.jpg" alt="112_1 南和" style="width:100%;" class="w3-hover-opacity">
                    </a>

                    <div class="w3-container w3-white">
                        <p><b>2024「南」得「和」你在一起 — Tjurukaladju部落文化冬令營</b></p>
                        <p>屏東縣來義鄉南和國小</p>
                    </div>
                </div>
                <div class="w3-third w3-container w3-margin-bottom">
                    <a href="111_2.html">
                        <img src="111_2.jpg" alt="111_2 富世" style="width:100%;" class="w3-hover-opacity">
                    </a>
                    <div class="w3-container w3-white">
                        <p><b>2023花蓮縣富世國小數位人文x部落文化夏令營</b></p>
                        <p>花蓮縣秀林鄉富世國小</p>
                    </div>
                </div>
                <div class="w3-third w3-container w3-margin-bottom">
                    <a href="111_1.html">
                        <img src="111_1.jpg" alt="111_1 南和" style="width:100%;" class="w3-hover-opacity">
                    </a>
                    <div class="w3-container w3-white">
                        <p><b>2023屏東縣南和國小數位人文X部落文化冬令營</b></p>
                        <p>屏東縣來義鄉南和國小</p>
                    </div>
                </div>
            </div>

            <!-- Second Photo Grid-->
            <div class="w3-row-padding" id="secondPage">
                <div class="w3-third w3-container w3-margin-bottom">
                    <a href="110_2.html">
                        <img src="110_2.png" alt="110_2 富世" style="width:100%" class="w3-hover-opacity">
                    </a>
                    <div class="w3-container w3-white">
                        <p><b>2022花蓮縣富世國小數位人文x部落文化夏令營</b></p>
                        <p>花蓮縣秀林鄉富世國小</p>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <div class="w3-center w3-padding-32">
                <div class="w3-bar">
                    <button class="w3-bar-item w3-button w3-hover-black goToFirstPage">«</button>
                    <button class="w3-bar-item w3-button w3-hover-black goToFirstPage">1</button>
                    <button class="w3-bar-item w3-button w3-hover-black goToSecondPage">2</button>
                    <button class="w3-bar-item w3-button w3-hover-black goToSecondPage">»</button>
                </div>
            </div>

            <!-- 精彩回顧 Photo grid (modal) -->
            <h4 id="精彩回顧"><b>精彩回顧</b></h4>

            <!-- Slideshow -->
            <div class="w3-container">
                <div class="w3-display-container mySlides">
                    <img src="back.JPG" alt="back" style="width:100%">
                    <div class="w3-display-topleft w3-container w3-padding-32"></div>
                </div>
                <div class="w3-display-container mySlides">
                    <img src="respect.JPG" alt="respect" style="width:100%">
                    <div class="w3-display-middle w3-container w3-padding-32"></div>
                </div>
                <div class="w3-display-container mySlides">
                    <img src="raise.JPG" alt="raise" style="width:100%">
                    <div class="w3-display-topright w3-container w3-padding-32"></div>
                </div>
                <div class="w3-display-container mySlides">
                    <img src="dance.JPG" alt="dance" style="width:100%">
                    <div class="w3-display-topleft w3-container w3-padding-32"></div>
                </div>
                <div class="w3-display-container mySlides">
                    <img src="string.JPG" alt="string" style="width:100%">
                    <div class="w3-display-topleft w3-container w3-padding-32"></div>
                </div>
                <div class="w3-display-container mySlides">
                    <img src="dog.JPG" alt="dog" style="width:100%">
                    <div class="w3-display-topleft w3-container w3-padding-32"></div>
                </div>

                <!-- Slideshow next/previous buttons -->
                <div class="w3-container w3-dark-grey w3-padding w3-xlarge">
                    <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
                    <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>
                </div>
            </div>

            <P></P>
            <!--video section-->
            <div class="w3-row-padding">
                <iframe style="width:100%; aspect-ratio: 16/9;" src="https://www.youtube.com/embed/nTpnJIqSJb8"></iframe>
            </div>
            <p></p>
            <div class="w3-row-padding">
                <iframe style="width:100%; aspect-ratio: 16/9;" src="https://www.youtube.com/embed/XkCO85GM2As"></iframe>
            </div>

            <p></p>

            <!-- Footer -->
            <footer class="w3-container w3-padding-32 w3-dark-grey">
                <ul style="list-style-type:none;">
                    <li>連絡電話:09-0000-0000</li>
                    <li>地址：116011 臺北市文山區指南路二段64號</li>
                </ul>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.4053400828357!2d121.57087657515635!3d24.986339077847344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa799bb49655%3A0xa70d08d57599f60f!2z5ZyL56uL5pS_5rK75aSn5a2457ac5ZCI6Zmi6aSo!5e0!3m2!1szh-TW!2stw!4v1704119775760!5m2!1szh-TW!2stw"
                width=100% height=100% style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </footer>
        </div>


        <!--scripts-->
        <script src="interactions.js"></script>

    </body>
</html>